<!-- <html>
<title>Authentication Form</title>

<head>
</head>

<body>
    <div class="container" id="container">

        <div class="form-container sign-in-container">
            <form action="#">
                <h1>Sign in</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fa fa-fw fa-facebook"></i></a>
                    <a href="#" class="social"><i class="fa fa-fw fa-google-plus"></i></a>
                    <a href="#" class="social"><i class="fa fa-fw fa-twitter"></i></a>
                </div>
                <span>or use your existing account to login</span>
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Password" />
                <button>Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Hello Friend</h1>
                    <p>Enter your personal details and start your journey with us</p>
                    <a routerLink="/signup"><button class="ghost" id="signUp">Sign Up</button></a>
                </div>
            </div>

        </div>
    </div>
</body>

</html> -->


<form [formGroup]="formSignin" (ngSubmit)="onHandleSubmit()">
    <input type="text" placeholder="Email" formControlName="email" />
    <div *ngIf="
        formSignin.get('email')?.hasError('required') &&
        (formSignin.get('email')?.touched || formSignin.get('email')?.dirty)
      ">
        Email is Required
    </div>
    <div *ngIf="
        formSignin.get('email')?.hasError('email') &&
        (formSignin.get('email')?.touched || formSignin.get('email')?.dirty)
      ">
        Invalid email
    </div>
    <input type="password" placeholder="Password" formControlName="password" />
    <div *ngIf="
        formSignin.get('password')?.hasError('required') &&
        (formSignin.get('password')?.touched || formSignin.get('email')?.dirty)
      "></div>
    <button>Đăng ký</button>
</form>